<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="cn" connectionString="Data Source=.;Initial Catalog=NORTHWND;Integrated Security=True" providerName="System.Data.sqlClient" />
    <add name="con" connectionString="Data Source=.;Initial Catalog=SmartPac_Database;Integrated Security=True" providerName="System.Data.sqlClient" />
    <add name="DesktopApp.Properties.Settings.smartpac_reportsConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\smartpac_reports.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
    <add name="DesktopApp.Properties.Settings.DbSalesReportConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DbSalesReport.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
    <add name="DesktopApp.Properties.Settings.TestConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Test.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
    <add name="DesktopApp.Properties.Settings.DbOutstandingDelConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DbOutstandingDel.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
    <add name="DesktopApp.Properties.Settings.dbEmployeeReportConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\dbEmployeeReport.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
    <add name="iBean_System.Properties.Settings.iBeanConnectionString" connectionString="Data Source=.;Initial Catalog=iBean;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DesktopApp.Properties.Settings.SPConnectionString" connectionString="Data Source=.;Initial Catalog=SP;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="iBeanContext" connectionString="metadata=res://*/iBean.csdl|res://*/iBean.ssdl|res://*/iBean.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=iBean;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="iBeanEntities" connectionString="metadata=res://*/IBean.csdl|res://*/IBean.ssdl|res://*/IBean.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=iBean;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SmartPac_DatabaseEntities" connectionString="metadata=res://*/LopacTissues.csdl|res://*/LopacTissues.ssdl|res://*/LopacTissues.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=SmartPac_Database;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SPEntities" connectionString="metadata=res://*/SP.csdl|res://*/SP.ssdl|res://*/SP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=SP;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>